<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">Guthaben</h1>
        <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
    </ion-header-bar>
    <ion-content class="padding">
        <div class="list">
            <label class="item item-input">
                <span class="input-label">Telefonnummer</span>
                <input ng-model="guthaben.phone" type="number">
            </label>
            <label class="item item-input">
                <span class="input-label">Guthaben</span>
                <input ng-model="guthaben.value" type="number">
            </label>
            <button class="button button-full button-positive" ng-click="addGuthaben(guthaben)">Hinzufügen</button>
        </div>
    </ion-content>
</ion-modal-view>