<ion-view title="Guthaben" hide-nav-bar="true" hide-back-button="true" id="page4" style="background-color:#92A1F3;" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <div class="">
            <img src="img/refresh_Icon.png" width="10%" height="auto" style="display: block; margin-left: auto;">
        </div>
        <!--<div class="title">Offen</div>-->
        <!--<ion-list id="guthaben-list4" class=" ">-->
            <!--<ion-item id="guthaben-list-item5" class="  ">Cedric - CHF 07.50</ion-item>-->
            <!--<ion-item id="guthaben-list-item6" class="  ">Klara - CHF 8.60</ion-item>-->
            <!--<ion-item id="guthaben-list-item7" class="  ">Dennis - CHF 103.45</ion-item>-->
        <!--</ion-list>-->
        <!--<div class="title">Kürzlich bezahlt</div>-->
        <!--<ion-list id="guthaben-list5" class=" ">-->
            <!--<ion-item id="guthaben-list-item5" class="  ">Cedric - CHF 07.50</ion-item>-->
            <!--<ion-item id="guthaben-list-item6" class="  ">Klara - CHF 8.60</ion-item>-->
            <!--<ion-item id="guthaben-list-item7" class="  ">Dennis - CHF 103.45</ion-item>-->
        <!--</ion-list>-->

        <div class="title">Offen</div>
        <ion-list>
            <ion-item ng-repeat="guthaben in guthabens"
                      item="guthaben"
                      class="">
                ({{ guthaben.id }}) {{ guthaben.to_user.name }} -  CHF {{ guthaben.valuex }}
                <!--<ion-delete-button class="ion-minus-circled"-->
                                   <!--ng-click="onItemDelete(item)">-->
                <!--</ion-delete-button>-->
                <!--<ion-option-button class="button-assertive"-->
                                   <!--ng-click="edit(item)">-->
                    <!--Edit-->
                <!--</ion-option-button>-->
                <!--<ion-option-button class="button-calm"-->
                                   <!--ng-click="share(item)">-->
                    <!--Share-->
                <!--</ion-option-button>-->
                <!--<ion-reorder-button class="ion-navicon" on-reorder="moveItem(item, $fromIndex, $toIndex)"></ion-reorder-button>-->
            </ion-item>
        </ion-list>

        <div class="">
            <img src="img/add_Icon.png" ng-click="addGuthaben()" width="10%" height="auto" style="display: block; margin-left: auto; margin-top: 20px">
        </div>
    </ion-content>
</ion-view>