<ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title">Schulden</h1>
    <button class="button button-clear button-primary" ng-click="addSchulden()">Add</button>
</ion-header-bar>
<ion-view title="Schulden" hide-nav-bar="true" hide-back-button="true" id="page2" style="background-color:#5471EE;" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="refreshSchulden()">
        </ion-refresher>
        <ion-list>
            <ion-item ng-repeat="schulden in schuldens"
                      item="schulden"
                      data-ng-schulden-id="{{ schulden.id }}"
                      class="">
                ({{ schulden.id }}) {{ schulden.from_user.name }} -  CHF {{ schulden.valuex }}
                <button class="button button-small button-right button-balanced icon-left ion-social-usd" ng-click="pay(schulden)">
                    pay
                </button>
            </ion-item>
        </ion-list>
     </ion-content>
 </ion-view>