<ion-view title="Schulden" hide-nav-bar="true" hide-back-button="true" id="page2" style="background-color:#92A1F3;" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <div class="">
            <img src="img/refresh_ICon.png" width="10%" height="auto" style="display: block; margin-left: auto;">
        </div>
        <form id="schulden-form3" class="list ">
            <ion-checkbox>Marco / CHF 25.00</ion-checkbox>
        </form>
        <form id="schulden-form4" class="list ">
            <ion-checkbox>Jan / CHF 10.30</ion-checkbox>
        </form>
        <form id="schulden-form5" class="list ">
            <ion-checkbox>Leandra / CHF 55.20</ion-checkbox>
        </form>
        <button id="schulden-button2" class=" button button-positive  button-block ">Bezahlen!</button>
        <div class="spacer" style="width: 300px; height: 137px;"></div>
        <div class="">
            <img src="img/add_Icon.png" width="10%" height="auto" style="display: block; margin-left: auto;">
        </div>
    </ion-content>
</ion-view>