<ion-view title="Schulden" hide-nav-bar="true" hide-back-button="true" id="page2" style="background-color:#92A1F3;" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <div class="">
            <img src="img/refresh_ICon.png" width="10%" height="auto" style="display: block; margin-left: auto;">
        </div>
        <ion-list>
            <ion-item ng-repeat="schulden in schuldens"
                      item="schulden"
                      data-ng-schulden-id="{{ schulden.id }}"
                      class="">
                ({{ schulden.id }}) {{ schulden.from_user.name }} -  CHF {{ schulden.valuex }}
                <button class="button button-small button-right button-balanced icon-left ion-social-usd" ng-click="pay(schulden)">
                    pay
                </button>
            </ion-item>
        </ion-list>
        <div class="spacer" style="width: 300px; height: 137px;"></div>
        <div class="">
            <img src="img/add_Icon.png" width="10%" height="auto" style="display: block; margin-left: auto;">
        </div>
    </ion-content>
</ion-view>